<div class="buttoncontainer">
        <button class="wikiButton" type="button" onclick="location.href='/edit/<%= title %>'">편집</button>
        <button class="wikiButton" type="button" onclick="location.href='/history/<%= title %>'">역사</button>
</div>