<!DOCTYPE html>
<html lang="ko-kr">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/navbar'); -%>
    <header class="document">
        <div class="docbody">
            <div class="container">
                <div class="margin_top16">
                    <div class="title">환영합니다.</div>
                    <div class="created_at">최근 수정 시각: 2022. 6. 13. 오후 5:27:45</div>
                    <div class="body">KNU 위키에 잘 오셨습니다.</div>
                </div>
            </div>
        </div>
    </header>
    <%- include('layouts/footer'); -%>
    <%- include('layouts/script'); -%>
</body>
</html>